.blue {
    background-color: blue;
    height: 20px;
    width: 20px;
}

.green {
    background-color: green;
    height: 20px;
    width: 20px;
}

.red {
    background-color: red;
    height: 20px;
    width: 20px;
}

.ui.segment{
    overflow: hidden!important;
}

.pushable:not(body) {
    transform: none;
  }
  
  .pushable:not(body) > .ui.sidebar,
  .pushable:not(body) > .fixed,
  .pushable:not(body) > .pusher:after {
    position: fixed;
  }
