.admin-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-login {
    padding: 10%;
    width: 50%;
    align-items: center;
}

.admin-title {
    font-family: 'AutoBusBold', 'Segoe UI';
    font-size: 2em;
    color: #54B7E9;
    text-align: center;
}