.credits-wrapper {
    min-height: 1080px;
}

.credits-header {
    background-image: url('https://imgur.com/2zCsUgL.png');
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.credits-thanks-header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.credits-title {
    color: #FFF;
    font-family: 'AutoBusBold', 'Segoe UI';
    font-size: 2.5em;
}

.cor-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5%;
    flex: 1;
    max-width: 90vw;
}

.cor-message-body {
    font-size: 1.2em;
}

.credits-thumbnail-wrapper {
    flex: 1;
    margin-left: 5%;
    text-align: center;
}

.usada-credits {
    max-height: 75vh;
    width: auto;
    max-width: 100vw;
}

.credits-opening-remarks {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}

.cor-message-header {
    color: #54B7E9;
    font-family: 'AutoBusBold', 'Segoe UI';
    font-size: 3em;
    margin-bottom: 10%;
}

.credits-body {
    padding: 10% 20%;
    background-color: #F9F9F9;
    word-wrap: break-word;
    width: 100vw;
}

.credits-body a {
    color: #787878;
}

.credits-body a svg {
    font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
    .credits-opening-remarks {
        margin-top: 30px;
    }

    .cor-message-body {
        font-size: 1em;
    }

    .cor-message-header {
        font-size: 2em;
        margin-bottom: 3%;
    }
    
    .credits-thumbnail-wrapper {
        margin: 0;
    }

    .usada-credits {
        max-height: none;
    }
}