.show-cubical-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3em;
    color: #F9B707;
}

#cubical-info {
    color: #F9B707;
}

.show-cubical-wrapper:hover {
    text-decoration: underline;
}

.show-cubical-label {
    padding-left: 10px;
    padding-right: 5px;
}

.hide-cubical-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.hide-cubical-wrapper:hover {
    text-decoration: underline;
}

.hide-cubical-label {
    padding-left: 10px;
}

.cubical-spinner {
    width: 1rem !important;
    height: 1rem !important;
    margin-left: 10px;
}

.header-tools-wrapper {
    display: flex;
}