.display-pekocard-wrapper {
    margin: 5%;
}

.display-overall-wrapper {
    display: flex;
}

.display-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 600px;
}

.employee-details {
    display: flex;
    flex-direction: column;
}

.employee-details h1 {
    font-family: 'AutoBusBold', 'Segoe UI';
    color: #54B7E9;
}

.employee-details h5, p {
    font-family: 'Segoe UI' !important;
}

.employee-details h5 span {
    color: #54B7E9;
}

.display-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.display-footer button {
    background: none;
    border: none;
    color: #787878;
}

.display-footer button:hover {
    color: #54B7E9;
}

.display-footer button:disabled {
    color: #C7C7C7;
}

@media screen and (max-device-width: 1024px) {
    .display-pekocard-wrapper {
        margin-top: 10vh;
    }
    
    .display-wrapper {
        margin-bottom: 20px;
    }
    .display-overall-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-device-width: 1024px) {
    .display-wrapper {
        flex-direction: column;
    }
    
    .display-wrapper div {
        margin-bottom: 10px;
    }
}