.employee-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 3% 10%;
}


.employee-details {
    padding-left: 20px;
    flex: 75%;
}

.thumbnail-wrapper{
    text-align: center;
    flex: 25%;
}

.employee-thumbnail{
    height: 60%;
}

.employee-details a {
    color: #787878;
    font-size: 1.8em;
}

.e-name {
    font-family: 'AutoBusBold', 'Segoe UI';
    font-size: 2em;
    color: #54B7E9;
}

.e-role {
    font-family: 'AutoBusBold', 'Segoe UI';
    font-size: 1.5em;
}
