.header {
    height: 10vh;
    padding: 0.5% 10%;
    background-color: #67BEE4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    max-height: 100px;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #FFF;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'Montserrat', 'Segoe UI';
}

.orange-highlight {
    height: 3px;
    background-color: #F9B707;
}