.header-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header {
    height: 90vh;
    padding: 0.5% 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    position: absolute;
    border-bottom: #F9B707;
}

.header-logo {
    height: 100%;
}

.header nav ul {
    margin: 0;
}

nav {
    color: inherit;
    position: absolute;
    right: 10%;
}

nav ul {
    list-style-type: none;
    float: right;
    color: inherit;
}

nav ul li {
    float: left;
    color: inherit;
}

nav ul li a {
    color: inherit;
    padding: 0 15px;
    text-decoration: none;
    font-family: 'Montserrat', 'Segoe UI';
}

.orange-highlight {
    height: 3px;
    background-color: #F9B707;
}

.a-logo-wrapper {
    height: 80%;
    position: absolute;
    max-height: 90px;
}