.subscribers-count-container{
    display: flex;
    height: 90vh;
    width: 100%;
    align-content: center;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    position: relative;
    font-family: 'AutoBusBold', 'Segoe UI';
    background-color: #baf6ff;
    overflow: hidden;
}

.count-container{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.count{
    font-size: 6em;
    color: #0495c5;
    z-index: 1;
    will-change: right;
}

.title{
    color: #efc8a7;
    font-size: 5em;
    padding-top: 3.5%;
    padding-left: 5%;
    text-transform: uppercase;
    align-self: flex-start;
    top: 0;
    position: absolute;
}

.employee-count-text{
    border-bottom: 5px solid #ffa953;
}

.bunny-icon{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    z-index: 1;
}

.rabbit-shape{
    align-self: flex-end;
    position: absolute;
    will-change: right;

}

.rabbit-shape.rabbit-shape-small{
    top: 20%;
    will-change: right;
}

.rabbit-shape.rabbit-shape-large{
    bottom: 13%;
    will-change: right;
}

.rabbit-shape.rabbit-shape-center{
    height: 38%;
    will-change: right;
}

.carrot{
    position: absolute;
    will-change: right;
}

.subscribe-button{
    position: absolute;
    text-align: center;
    will-change: right;
    bottom: 13%;
}

.subscribe-button .subscribe-text{
    position: absolute;
    left: 52%;
    top: 57%;
    font-size: 2.5em;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.subscribe-button .carrot{
    position: relative;
    width: 70%;
    padding-left: 25%;
    padding-top: 10%;
}

.carrot-opaque{
    opacity: 0.7;
}

.carrot.carrot-1{
    top: 0;
    height: 10rem;
    width: 10rem; 

}

.carrot.carrot-2{
    top: 13%;
    height: 15rem;
    width: 15rem; 
}

.carrot.carrot-3{
    top: 15%;
    height: 10rem;
    width: 10rem; 
}

.carrot.carrot-4{
    bottom: -5%;
    height: 10rem;
    width: 10rem;
    opacity: 0.6; 

}

.carrot.carrot-5{
    bottom: -3%;
    height: 15rem;
    width: 15rem;
    opacity: 0.6; 

}