.project {
    margin: 1%;
    font-family: 'MontSerrat', 'Segoe UI';
    cursor: pointer;
}

.project-thumbnail {
    object-fit: cover;
    height: 250px;
    width: 350px;
    background-color: #f2f2f2;
}

.project-title-wrapper {
    padding-left: 10px;
    padding-top: 10px;
}

.project-name {
    color: #787878;
}

.project-date {
    font-size: 0.7em;
    color: #C2C2C2;
}