.share-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2px;
}

.share-dropdown-menu button {
    margin: 5px;
}

.share-dropdown-menu button:hover {
    background-color: red;
}

.share-dropdown-menu-wrapper {
    border-radius: 10px !important;
}