doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/successLogin.css')
  body
    block content
    h1= "Congratulations!"
    h2= "You have successfully logged in! You can now close this window"