body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #787878 !important;
  background-color: #F9F9F9 !important;
  /* min-width: 1024px; */
  /* min-height: 768px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #787878;
}

@font-face {
  font-family: 'AutobusBold';
  src: local('AutobusBold'), url(fonts/AutobusBold.ttf) format('truetype');
}

@font-face {
  font-family: 'MontserratRegular';
  src: local('MontserratRegular.ttf'), url(fonts/MontserratRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'PekoraRegular';
  src: local('PekoraRegular'), url(fonts/PekoraRegular.otf) format('truetype');
}

.loading {
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-text {
  font-family: "PekoraRegular", "Segoe UI";
  font-style: italic;
  padding-top: 20px;
}

html {
  font-size: 17px;
}